@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!--Additional links-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top sticky-top navbar-expand-md navbar-light bg-light mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand mr-3" asp-area="" asp-controller="Store" asp-action="Index">Init Store</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a asp-controller="Store" asp-action="Index" class="nav-item nav-link active">Home</a>

                    </div>

                    <div class="navbar-nav ml-auto">

                        @await Component.InvokeAsync("ShoppingCartSummary")


                        @if (signInManager.IsSignedIn(User))
                        {

                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn nav-link " style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Login</a>

                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr>
   
    <footer>
        <div class="row">
            <div class="col-md-6">
                &copy; 2020 - Init CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>	    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
