<div class="jumbotron">
    <h1>Learn to Use Init Store</h1>
    <p class="lead">In Init store, you can do this and that. At <a href="https://www.imyansoft.com" target="_blank">Init Store</a> for people around the world.etc . text text</p>
    <p><a href="https://www.imyansoft.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
</div>