
@{
    ViewData["Title"] = "Admin Dashboard";
}
<h4>Welcome Dashboard</h4>
<hr />
<div class="row">
    <div class="col-sm-3">
        <div class="card card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Products</div>
            <div class="card-body text-primary">
                <h4 class="card-title"> @ViewBag.PCount</h4>

            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card border-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Product Categories</div>
            <div class="card-body text-warning">
                <h4 class="card-title">@ViewBag.PCCount</h4>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="card card border-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Orders</div>
            <div class="card-body text-danger">
                <h4 class="card-title">@ViewBag.TotalOrder</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Customer Registrations</div>
            <div class="card-body text-secondary">
                <h4 class="card-title">@ViewBag.Customer</h4>
            </div>
        </div>
    </div>
   
</div>