@model ShoppingCartViewModel

@{ if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
    {

        <a class="nav-item nav-link" asp-controller="ShoppingCart" asp-action="Index">
            <i class="fa fa-cart-plus mr-2 my-cart-icon"><span class="text-success">(@Model.ShoppingCart.ShoppingCartItems.Count)</span></i>
        </a>

    }
    else
    {
        <a class="nav-item nav-link" asp-controller="ShoppingCart" asp-action="Index">
            <i class="fa fa-cart-plus mr-2 my-cart-icon"></i>
        </a>
    }

}